<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Mushroom Dataset</title>
</head>
<body style="background-color: #b78a19">
    <center>
        <div style="border: thick black solid ; width: fit-content; background-color: white; padding:20px;">
            <h1>
                Internal Tool of Mushroom Edibility Feature Project
            </h1>
            <br>
            <p>Welcome to the mushroom edibility DASHBOARD! This dashboard has all necesary data <br>
                that serves as a proof of concept for the proposed feature withing the HikingPal App.<br>
                The feature will use a collected mushroom dataset that will be used as the base<br>
                of a trained machine-learning model. Using the model we'll be able to predict if the <br>
                is edible or not.
                
            </p>
            <br>
            <br>
            <h3>
                Descriptive and Non-Descriptive Methods
            </h3>
            <p>The tool includes two data methods:<br>
                * Descriptive method: three visuals that describes the data and supports bett understanding of prediction.<br>
                * Non-Descriptive method: based on the data we train our machine-learning model with <br>
                a Random Forest Classifier algorithm. The trained model then serves to predict the <br>
                edibility of a specfic mushroom using its attributes.
            </p>
            <h3>
               The Dataset
            </h3>
            <p>The data was collected from 
                <a href="https://www.kaggle.com/uciml/mushroom-classification">kaggle.com</a>
                The classes and attributes are indicated with the following code letters:<br><br>
                <b>Attribute Information:</b> (<b>classes</b>: edible=<b>e</b>, poisonous=<b>p</b>)<br><br>
                <b>cap-shape:</b> bell=<b>b</b>,conical=<b>c</b>,convex=<b>x</b>,flat=<b>f</b>, knobbed=<b>k</b>,sunken=<b>s</b><br>
                <b>cap-surface:</b> fibrous=<b>f</b>,grooves=<b>g</b>,scaly=<b>y</b>,smooth=<b>s</b><br>
                <b>cap-color:</b> brown=<b>n</b>,buff=<b>b</b>,cinnamon=<b>c</b>,gray=<b>g</b>,green=<b>r</b>,pink=<b>p</b>,purple=<b>u</b>,red=<b>e</b>,white=<b>w</b>,yellow=<b>y</b><br>
                <b>bruises:</b> bruises=<b>t</b>,no=<b>f</b><br>
                <b>odor:</b> almond=<b>a</b>,anise=<b>l</b>,creosote=<b>c</b>,fishy=<b>y</b>,foul=<b>f</b>,musty=<b>m</b>,none=<b>n</b>,pungent=<b>p</b>,spicy=<b>s</b><br>
                <b>gill-attachment:</b> attached=<b>a</b>,descending=<b>d</b>,free=<b>f</b>,notched=<b>n</b><br>
                <b>gill-spacing:</b> close=<b>c</b>,crowded=<b>w</b>,distant=<b>d</b><br>
                <b>gill-size:</b> broad=<b>b</b>,narrow=<b>n</b><br>
                <b>gill-color:</b> black=<b>k</b>,brown=<b>n</b>,buff=<b>b</b>,chocolate=<b>h</b>,gray=<b>g</b>, green=<b>r</b>,orange=<b>o</b>,pink=<b>p</b>,purple=<b>u</b>,red=<b>e</b>,white=<b>w</b>,yellow=<b>y</b><br>
                <b>stalk-shape:</b> enlarging=<b>e</b>,tapering=<b>t</b><br>
                <b>stalk-root:</b> bulbous=<b>b</b>,club=<b>c</b>,cup=<b>u</b>,equal=<b>e</b>,rhizomorphs=<b>z</b>,rooted=<b>r</b>,missing=<b>?</b><br>
                <b>stalk-surface-above-ring:</b> fibrous=<b>f</b>,scaly=<b>y</b>,silky=<b>k</b>,smooth=<b>s</b><br>
                <b>stalk-surface-below-ring:</b> fibrous=<b>f</b>,scaly=<b>y</b>,silky=<b>k</b>,smooth=<b>s</b><br>
                <b>stalk-color-above-ring:</b> brown=<b>n</b>,buff=<b>b</b>,cinnamon=<b>c</b>,gray=<b>g</b>,orange=<b>o</b>,pink=<b>p</b>,red=<b>e</b>,white=<b>w</b>,yellow=<b>y</b><br>
                <b>stalk-color-below-ring:</b> brown=<b>n</b>,buff=<b>b</b>,cinnamon=<b>c</b>,gray=<b>g</b>,orange=<b>o</b>,pink=<b>p</b>,red=<b>e</b>,white=<b>w</b>,yellow=<b>y</b><br>
                <b>veil-type:</b> partial=<b>p</b>,universal=<b>u</b><br>
                <b>veil-color:</b> brown=<b>n</b>,orange=<b>o</b>,white=<b>w</b>,yellow=<b>y</b><br>
                <b>ring-number:</b> none=<b>n</b>,one=<b>o</b>,two=<b>t</b><br>
                <b>ring-type:</b> cobwebby=<b>c</b>,evanescent=<b>e</b>,flaring=<b>f</b>,large=<b>l</b>,none=<b>n</b>,pendant=<b>p</b>,sheathing=<b>s</b>,zone=<b>z</b><br>
                <b>spore-print-color:</b> black=<b>k</b>,brown=<b>n</b>,buff=<b>b</b>,chocolate=<b>h</b>,green=<b>r</b>,orange=<b>o</b>,purple=<b>u</b>,white=<b>w</b>,yellow=<b>y</b><br>
                <b>population:</b> abundant=<b>a</b>,clustered=<b>c</b>,numerous=<b>n</b>,scattered=<b>s</b>,several=<b>v</b>,solitary=<b>y</b><br>
                <b>habitat:</b> grasses=<b>g</b>,leaves=<b>l</b>,meadows=<b>m</b>,paths=<b>p</b>,urban=<b>u</b>,waste=<b>w</b>,woods=<b>d</b><br>
            </p>
            <h3>
                Decision Support functionality
            </h3>
            <p>As described in the main feature request, the dataset will allow a decision support functionality<br>
                using machine learning. On the bottom of this page, please use the prediction form and submit for results<br>
            </p>
        </div>
                <!--
                    
                        Analytics– Using the given data, your application needs to enable decisions to be
                        formulated or support for given trends to be provided.
                        Data Cleaning – if applicable, create a function that will make the data usable prior to
                        actually being used by the application. Things such as featuring, parsing, cleaning, and
                        wrangling the datasets.
                        Data Visualization – You need at least three real-time (e.g. using the GUI/dashboard)
                        formats to visualize the data in a graphic format. Look at things like charting, mapping,
                        color theory, plots, diagrams, or other methods (tables must include heat mapping).
                        These, in conjunction with or as a part of your GUI, would enable users to explore or
                        inspect the data characteristics.
                        Real-Time Queries – As part of your GUI enable users to access and manipulate data
                        real-time including data maintenance. This does not deal with data “freshness” but with
                        the query response time being in seconds.
                        Adaptive Element – if appropriate for the business need, provide the implementation of
                        machine-learning methods and algorithms to enable the application to improve with
                        experience. Examples include learning associations, classification, statistical arbitrage,
                        prediction, extraction, and regression.
                        Outcome Accuracy – provide functionalities that evaluate the accuracy of the
                        information/outcomes given by the application. What are the parameters for valid output
                        data and how will those be checked by the application?
                        Security Measures – include industry-appropriate security features that will control
                        access to the data and/or, how the data is stored or transmitted. The security features
                        should be appropriate for the data product and the sensitivity of the data it interacts with.
                        For example, with a web application this requirement might be satisfied by implementing
                        username/password authentication.
                        
                        Product Health Monitoring – include functionality that will enable the application’s
                        “health” and reliability to be monitored. It should answer the questions, “Is the application
                        performing correctly after being deployed?” For example, the use of displays or logs to
                        quickly discover, isolate and solve problems that can negatively affect the application’s
                        performance and accuracy. If the data continues to accumulate, is it still accurate? If the
                        code gets corrupted and needs to be fixed, is there a debugger to address that? With a
                        system that evaluates the statistical or the practical significance of the product, there
                        should be a monitoring tool.
                        
                        Dashboard – include a user-friendly, functional dashboard that enables the query and
                        display of the data, as well as other functionality described in this section. This could be
                        stand-alone, Web-based, or a mobile application interface. -->
        <div style="border: thick black solid ; width: fit-content; background-color: white; ">
            <img src="../static/{{ importance }}" style="padding:20px;" >
        </div>
        <div style="border: thick black solid ; width: fit-content; background-color: white; ">
            <img src="../static/{{ heat }}" style="padding:20px;">
        </div>
        <div style="border: thick black solid ; width: fit-content; background-color: white; ">
            <img src="../static/{{ top4 }}" style="padding:20px;">
        </div>
        <div style="border: thick black solid ; width: fit-content; background-color: white; ">
            <form action = "{{ url_for('predict') }}" method="POST" class="text-center border border-light p-5" >
                <h1>
                    Mushroom Edibility Prediction
                </h1>
                <div class="form-group" style="padding:10px;">
                    <!-- cap-shape: bell=b,conical=c,convex=x,flat=f, knobbed=k,sunken=s -->
                    <h3>Cap Shape</h3>
                    <input type="radio" id="bell" name="cap_shape" value="b" checked>
                    <label for="bell">bell</label>
                    <input type="radio" id="conical" name="cap_shape" value="c" >
                    <label for="conical">conical</label>
                    <input type="radio" id="convex" name="cap_shape" value="x">
                    <label for="convex">convex</label>
                    <input type="radio" id="flat" name="cap_shape" value="f">
                    <label for="flat">flat</label>
                    <input type="radio" id="knobbed" name="cap_shape" value="k">
                    <label for="knobbed">knobbed</label>
                    <input type="radio" id="sunken" name="cap_shape" value="s">
                    <label for="sunken">sunken</label>
                    
                    <!-- cap-surface: fibrous=f,grooves=g,scaly=y,smooth=s -->
                    <h3>Cap Surface</h3>
                    <input type="radio" id="fibrous" name="cap_surface" value="f" checked>
                    <label for="fibrous">fibrous</label>
                    <input type="radio" id="grooves" name="cap_surface" value="g" >
                    <label for="grooves">grooves</label>
                    <input type="radio" id="scaly" name="cap_surface" value="y" >
                    <label for="scaly">scaly</label>
                    <input type="radio" id="smooth" name="cap_surface" value="s" >
                    <label for="smooth">smooth</label>

                    <!-- cap-color: brown=n,buff=b,cinnamon=c,gray=g,green=r,pink=p,purple=u,red=e,white=w,yellow=y -->
                    <h3>Cap Color</h3>
                    <input type="radio" id="brown" name="cap_color" value="n" checked>
                    <label for="brown">brown</label>
                    <input type="radio" id="buff" name="cap_color" value="b">
                    <label for="buff">buff</label>
                    <input type="radio" id="cinnamon" name="cap_color" value="c">
                    <label for="cinnamon">cinnamon</label>
                    <input type="radio" id="gray" name="cap_color" value="g">
                    <label for="gray">gray</label>
                    <input type="radio" id="green" name="cap_color" value="r">
                    <label for="green">green</label>
                    <input type="radio" id="pink" name="cap_color" value="p">
                    <label for="pink">pink</label>
                    <input type="radio" id="purple" name="cap_color" value="u">
                    <label for="purple">purple</label>
                    <input type="radio" id="red" name="cap_color" value="e">
                    <label for="red">red</label>
                    <input type="radio" id="white" name="cap_color" value="w">
                    <label for="white">white</label>
                    <input type="radio" id="yellow" name="cap_color" value="y">
                    <label for="yellow">yellow</label>
                    
                    <!-- bruises: bruises=t,no=f -->
                    <h3>Bruises</h3>
                    <input type="radio" id="true" name="bruises" value="t" checked>
                    <label for="true">has bruises</label>
                    <input type="radio" id="true" name="bruises" value="f" >
                    <label for="true">does not have bruises</label>
                    
                    <!-- odor: almond=a,anise=l,creosote=c,fishy=y,foul=f,musty=m,none=n,pungent=p,spicy=s -->
                    <h3>Odor</h3>
                    <input type="radio" id="almond" name="odor" value="a" checked>
                    <label for="almond">almond</label>
                    <input type="radio" id="anise" name="odor" value="l">
                    <label for="anise">anise</label>
                    <input type="radio" id="creosote" name="odor" value="c">
                    <label for="creosote">creosote</label>
                    <input type="radio" id="fishy" name="odor" value="y">
                    <label for="fishy">fishy</label>
                    <input type="radio" id="foul" name="odor" value="f">
                    <label for="foul">foul</label>
                    <input type="radio" id="musty" name="odor" value="m">
                    <label for="musty">musty</label>
                    <input type="radio" id="none" name="odor" value="n">
                    <label for="none">none</label>
                    <input type="radio" id="pungent" name="odor" value="p">
                    <label for="pungent">pungent</label>
                    <input type="radio" id="spicy" name="odor" value="s">
                    <label for="spicy">spicy</label>
                    
                    <!-- gill-attachment: attached=a,descending=d,free=f,notched=n -->
                    <h3>Gill Attachment</h3>
                    <input type="radio" id="attached" name="gill_attachment" value="a" checked>
                    <label for="attached">attached</label>
                    <input type="radio" id="descending" name="gill_attachment" value="d" >
                    <label for="descending">descending</label>
                    <input type="radio" id="free" name="gill_attachment" value="f" >
                    <label for="free">free</label>
                    <input type="radio" id="notched" name="gill_attachment" value="n" >
                    <label for="notched">notched</label>
                    
                    <!-- gill-spacing: close=c,crowded=w,distant=d -->
                    <h3>Gill Spacing</h3>
                    <input type="radio" id="close" name="gill_spacing" value="c" checked>
                    <label for="close">close</label>
                    <input type="radio" id="crowded" name="gill_spacing" value="w">
                    <label for="crowded">crowded</label>
                    <input type="radio" id="distant" name="gill_spacing" value="d">
                    <label for="distant">distant</label>
                    
                    <!-- gill-size: broad=b,narrow=n -->
                    <h3>Gill Size</h3>
                    <input type="radio" id="broad" name="gill_size" value="b" checked>
                    <label for="broad">broad</label>
                    <input type="radio" id="narrow" name="gill_size" value="n">
                    <label for="narrow">narrow</label>
                    
                    <!-- gill-color: black=k,brown=n,buff=b,chocolate=h,gray=g, green=r,orange=o,pink=p,purple=u,red=e,white=w,yellow=y -->
                    <h3>Gill Color</h3>
                    <input type="radio" id="black" name="gill_color" value="k" checked>
                    <label for="black">black</label>
                    <input type="radio" id="brown" name="gill_color" value="n">
                    <label for="brown">brown</label>
                    <input type="radio" id="buff" name="gill_color" value="b">
                    <label for="buff">buff</label>
                    <input type="radio" id="chocolate" name="gill_color" value="h">
                    <label for="chocolate">chocolate</label>
                    <input type="radio" id="gray" name="gill_color" value="g">
                    <label for="gray">gray</label>
                    <input type="radio" id="green" name="gill_color" value="r">
                    <label for="green">green</label>
                    <input type="radio" id="orange" name="gill_color" value="o">
                    <label for="orange">orange</label>
                    <input type="radio" id="pink" name="gill_color" value="p">
                    <label for="pink">pink</label>
                    <input type="radio" id="purple" name="gill_color" value="u">
                    <label for="purple">purple</label>
                    <input type="radio" id="red" name="gill_color" value="e">
                    <label for="red">red</label>
                    <input type="radio" id="white" name="gill_color" value="w">
                    <label for="white">white</label>
                    <input type="radio" id="yellow" name="gill_color" value="y">
                    <label for="yellow">yellow</label>
                    
                    <!-- stalk-shape: enlarging=e,tapering=t -->
                    <h3>Stalk Shape</h3>
                    <input type="radio" id="enlarging" name="stalk_shape" value="e" checked>
                    <label for="enlarging">enlarging</label>
                    <input type="radio" id="tapering" name="stalk_shape" value="t" >
                    <label for="tapering">tapering</label>
                    
                    <!-- stalk-root: bulbous=b,club=c,cup=u,equal=e,rhizomorphs=z,rooted=r,missing=? -->
                    <h3>Stalk Root</h3>
                    <input type="radio" id="bulbous" name="stalk_root" value="b" checked>
                    <label for="bulbous">bulbous</label>
                    <input type="radio" id="club" name="stalk_root" value="c" >
                    <label for="club">club</label>
                    <input type="radio" id="cup" name="stalk_root" value="u" >
                    <label for="cup">cup</label>
                    <input type="radio" id="equal" name="stalk_root" value="e" >
                    <label for="equal">equal</label>
                    <input type="radio" id="rhizomorphs" name="stalk_root" value="z" >
                    <label for="rhizomorphs">rhizomorphs</label>
                    <input type="radio" id="rooted" name="stalk_root" value="r">
                    <label for="rooted">rooted</label>
                    <input type="radio" id="missing" name="stalk_root" value="?">
                    <label for="missing">missing</label>
                    
                    <!-- stalk-surface-above-ring: fibrous=f,scaly=y,silky=k,smooth=s -->
                    <h3>Stalk Surface</h3>
                    <input type="radio" id="fibrous" name="stalk_surface" value="f" checked>
                    <label for="fibrous">fibrous</label>
                    <input type="radio" id="scaly" name="stalk_surface" value="y">
                    <label for="scaly">scaly</label>
                    <input type="radio" id="silky" name="stalk_surface" value="k">
                    <label for="silky">silky</label>
                    <input type="radio" id="smooth" name="stalk_surface" value="s">
                    <label for="smooth">smooth</label>
                    
                    <!-- stalk-surface-below-ring: fibrous=f,scaly=y,silky=k,smooth=s -->
                    <h3>Stalk Surface Below Ring</h3>
                    <input type="radio" id="fibrous" name="stalk_surface_below_ring" value="f" checked>
                    <label for="fibrous">fibrous</label>
                    <input type="radio" id="scaly" name="stalk_surface_below_ring" value="y">
                    <label for="scaly">scaly</label>
                    <input type="radio" id="silky" name="stalk_surface_below_ring" value="k">
                    <label for="silky">silky</label>
                    <input type="radio" id="smooth" name="stalk_surface_below_ring" value="s">
                    <label for="smooth">smooth</label>

                    <!-- stalk-color-above-ring: brown=n,buff=b,cinnamon=c,gray=g,orange=o,pink=p,red=e,white=w,yellow=y -->
                    <h3>Stalk Color Above Ring</h3>
                    <input type="radio" id="brown" name="stalk_color_above_ring" value="n" checked>
                    <label for="brown">brown</label>
                    <input type="radio" id="buff" name="stalk_color_above_ring" value="b">
                    <label for="buff">buff</label>
                    <input type="radio" id="cinnamon" name="stalk_color_above_ring" value="c">
                    <label for="cinnamon">cinnamon</label>
                    <input type="radio" id="gray" name="stalk_color_above_ring" value="g">
                    <label for="gray">gray</label>
                    <input type="radio" id="orange" name="stalk_color_above_ring" value="o">
                    <label for="orange">orange</label>
                    <input type="radio" id="pink" name="stalk_color_above_ring" value="p">
                    <label for="pink">pink</label>
                    <input type="radio" id="red" name="stalk_color_above_ring" value="e">
                    <label for="red">red</label>
                    <input type="radio" id="white" name="stalk_color_above_ring" value="w">
                    <label for="white">white</label>
                    <input type="radio" id="yellow" name="stalk_color_above_ring" value="y">
                    <label for="yellow">yellow</label>
                    
                    <!-- stalk-color-below-ring: brown=n,buff=b,cinnamon=c,gray=g,orange=o,pink=p,red=e,white=w,yellow=y -->
                    <h3>Stalk Color Below Ring</h3>
                    <input type="radio" id="brown" name="stalk_color_below_ring" value="n" checked>
                    <label for="brown">brown</label>
                    <input type="radio" id="buff" name="stalk_color_below_ring" value="b">
                    <label for="buff">buff</label>
                    <input type="radio" id="cinnamon" name="stalk_color_below_ring" value="c">
                    <label for="cinnamon">cinnamon</label>
                    <input type="radio" id="gray" name="stalk_color_below_ring" value="g">
                    <label for="gray">gray</label>
                    <input type="radio" id="orange" name="stalk_color_below_ring" value="o">
                    <label for="orange">orange</label>
                    <input type="radio" id="pink" name="stalk_color_below_ring" value="p">
                    <label for="pink">pink</label>
                    <input type="radio" id="red" name="stalk_color_below_ring" value="e">
                    <label for="red">red</label>
                    <input type="radio" id="white" name="stalk_color_below_ring" value="w">
                    <label for="white">white</label>
                    <input type="radio" id="yellow" name="stalk_color_below_ring" value="y">
                    <label for="yellow">yellow</label>
                    
                    <!-- veil-type: partial=p,universal=u -->
                    <h3>Veil Type</h3>
                    <input type="radio" id="partial" name="veil_type" value="p" checked>
                    <label for="partial">partial</label>
                    <input type="radio" id="universal" name="veil_type" value="u">
                    <label for="universal">universal</label>
                    
                    <!-- veil-color: brown=n,orange=o,white=w,yellow=y -->
                    <h3>Veil Color</h3>
                    <input type="radio" id="brown" name="veil_color" value="n" checked>
                    <label for="brown">brown</label>
                    <input type="radio" id="orange" name="veil_color" value="o">
                    <label for="orange">orange</label>
                    <input type="radio" id="white" name="veil_color" value="w">
                    <label for="white">white</label>
                    <input type="radio" id="yellow" name="veil_color" value="y">
                    <label for="yellow">yellow</label>
                    
                    <!-- ring-number: none=n,one=o,two=t -->
                    <h3>Ring Number</h3>
                    <input type="radio" id="none" name="ring_number" value="n" checked>
                    <label for="none">none</label>
                    <input type="radio" id="one" name="ring_number" value="o">
                    <label for="one">one</label>
                    <input type="radio" id="two" name="ring_number" value="t">
                    <label for="two">two</label>                    
                    
                    <!-- ring-type: cobwebby=c,evanescent=e,flaring=f,large=l,none=n,pendant=p,sheathing=s,zone=z -->
                    <h3>Ring Type</h3>
                    <input type="radio" id="cobwebby" name="ring_type" value="c" checked>
                    <label for="cobwebby">cobwebby</label>
                    <input type="radio" id="evanescent" name="ring_type" value="e">
                    <label for="evanescent">evanescent</label>
                    <input type="radio" id="flaring" name="ring_type" value="f">
                    <label for="flaring">flaring</label>
                    <input type="radio" id="large" name="ring_type" value="l">
                    <label for="large">large</label>
                    <input type="radio" id="none" name="ring_type" value="n">
                    <label for="none">none</label>
                    <input type="radio" id="pendant" name="ring_type" value="p">
                    <label for="pendant">pendant</label>
                    <input type="radio" id="sheathing" name="ring_type" value="s">
                    <label for="sheathing">sheathing</label>
                    <input type="radio" id="zone" name="ring_type" value="z">
                    <label for="zone">zone</label>
                    
                    <!-- spore-print-color: black=k,brown=n,buff=b,chocolate=h,green=r,orange=o,purple=u,white=w,yellow=y -->
                    <h3>Spore Print Color</h3>
                    <input type="radio" id="black" name="spore_print" value="k" checked>
                    <label for="black">black</label>
                    <input type="radio" id="brown" name="spore_print" value="n">
                    <label for="brown">brown</label>
                    <input type="radio" id="buff" name="spore_print" value="b">
                    <label for="buff">buff</label>
                    <input type="radio" id="chocolate" name="spore_print" value="h">
                    <label for="chocolate">chocolate</label>
                    <input type="radio" id="green" name="spore_print" value="r">
                    <label for="green">green</label>
                    <input type="radio" id="orange" name="spore_print" value="o">
                    <label for="orange">orange</label>
                    <input type="radio" id="purple" name="spore_print" value="u">
                    <label for="purple">purple</label>
                    <input type="radio" id="white" name="spore_print" value="w">
                    <label for="white">white</label>
                    <input type="radio" id="yellow" name="spore_print" value="y">
                    <label for="yellow">yellow</label>
                    
                    <!-- population: abundant=a,clustered=c,numerous=n,scattered=s,several=v,solitary=y -->
                    <h3>Population</h3>
                    <input type="radio" id="abundant" name="population" value="a" checked >
                    <label for="abundant">abundant</label>
                    <input type="radio" id="clustered" name="population" value="c">
                    <label for="clustered">clustered</label>
                    <input type="radio" id="numerous" name="population" value="n">
                    <label for="numerous">numerous</label>
                    <input type="radio" id="scattered" name="population" value="s">
                    <label for="scattered">scattered</label>
                    <input type="radio" id="several" name="population" value="v">
                    <label for="several">several</label>
                    <input type="radio" id="solitary" name="population" value="y">
                    <label for="solitary">solitary</label>
                    
                    <!-- habitat: grasses=g,leaves=l,meadows=m,paths=p,urban=u,waste=w,woods=d -->
                    <h3>Habitat</h3>
                    <input type="radio" id="grasses" name="habitat" value="g" checked >
                    <label for="grasses">grasses</label>
                    <input type="radio" id="leaves" name="habitat" value="l">
                    <label for="leaves">leaves</label>
                    <input type="radio" id="meadows" name="habitat" value="m">
                    <label for="meadows">meadows</label>
                    <input type="radio" id="paths" name="habitat" value="p">
                    <label for="paths">paths</label>
                    <input type="radio" id="urban" name="habitat" value="u">
                    <label for="urban">urban</label>
                    <input type="radio" id="waste" name="habitat" value="w">
                    <label for="waste">waste</label>
                    <input type="radio" id="woods" name="habitat" value="d">
                    <label for="woods">woods</label>

                    <button type="submit" class="btn btn-primary btn-block mb-3">Submit</button>
                </div>
            </form>
        </div>
    </center>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
